name: CI Workflow

permissions:  # Specify permissions for the workflow
  contents: write  # Example permission for reading repository contents
  issues: read  # Example permission for reading issues

on:
    push:
        paths:
            - "knn_model.joblib"
            - ".github/workflows/main.yml"  # Fixed the path to main.yml
            - "requirements.txt"


jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            
            - name: Set up python
              uses: actions/setup-python@v4
              with:
                python-version: '3.12'

            - name: Install dependencies
              run: |
                pip install -r requirements.txt

            - name: Test FastAPI startup
              run: |
                  uvicorn main:app --host 0.0.0.0 --port 8000 &
                  sleep 5
                  curl -f http://127.0.0.1:8000/docs
    
    docker:
        needs: build
        runs-on: ubuntu-latest

        steps:
            - name: login to docker hub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Set up Docker buildx
              uses: docker/setup-buildx-action@v2        
            
            - name: Build and push image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                tags: your_dockerhub_username/fastapi-app:latest

              
                
